.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

input {
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

li:hover {
  background-color: #f0f0f0;
}

@font-face {
    font-family: 'DomoGlyphs';
    src: url('/public/domocons.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

